.homepage{
    overflow: auto;
   
    h4{
        border-top: 1px solid #fca113;
        border-bottom: 1px solid #fca113;
        text-transform: uppercase;
        font-size: clamp(14px, 16px, 16px);
    }
    button{
        text-transform: uppercase;
    }
    .btn-lg{
        font-size: clamp(16px, 16px, 16px);
    }
}