.post{
strong{
    border: 1px solid #fca113;
    background-color: #ffbd5439;
    color: white;
    padding: .2rem .4rem;
    border-radius: 10px;
    width: fit-content;
    font-size: .8rem;
}
a{
    max-width: 70%;
}
}
@media only screen and (max-width: 768px){
    .post{
        a{
            max-width: 60%;
            margin-top: 5px;
        }
    }
}
@media only screen and (max-width: 320px){
    .post{
        a{
            max-width: 80%;
            margin-top: 5px;
        }
    }
}