#categories{
h4{
    border-top: 1px solid #fca113;
    border-bottom: 1px solid #fca113;
    text-transform: uppercase;
    font-size: clamp(14px, 16px, 16px);
}
#categorylist{
    display: flex;
    flex-wrap: wrap;

    li{
        padding: 5px;
    }
    a{
        display: flex;
        flex: 50%;
        justify-content: center;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: underline;
        }
    }
}
}