#sidebar{
h4{
    
    text-transform: uppercase;
    font-size: clamp(14px, 16px, 16px);
}
} 
@media only screen and (max-width: 576px){
    #socials{
        justify-content: center;
        svg{
            padding: 5px;
            font-size: 20px;
        }
    }
}