
.navbar{
    font-family: 'Raleway';
    text-transform: uppercase;
}


#main-nav{
    margin-left: 25%;
}


svg{
    &:hover{
       color: #fca311;
       cursor: pointer;
    }
}
@media only screen and (max-width: 1441px){
    #main-nav{
        margin-left: 30%;
    }
}
@media only screen and (max-width: 1025px){
   #main-nav{
    margin-left: 25%;
   }
    #searchbar{
        width:auto;
    }
}
@media only screen and (max-width: 935px){
   
    #searchbar{
        margin-right: -3px;
        width: 150px;
    }
}
@media only screen and (max-width: 805px){
   
    #main-nav{
        margin-left: 18%;
    }
}
@media only screen and (max-width: 576px){
    #main-nav{
        margin-left: 0;
    }
    #searchbar{
        margin-right: 0;
        width: 90%;
    }
}